{% extends "app1/menu.html" %} {% load static %} {% block main_content%}

<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chi Tiết Sản Phẩm</title>
    <link rel="stylesheet" href="detail_p.css" />
  </head>
  <style>
    .card {
      height: 500px; /* Set the same height as the product-detail-img */
    }
    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
    .card-title {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    .card-text {
      margin-bottom: 0.5rem;
    }
  </style>

  <body>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <img
              src="{{ product.image_url }}"
              class="product-detail-img"
              alt="{{ product.name }}"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">{{ product.name }}</h1>
              <p class="card-text">{{ product.description }}</p>
              <p class="card-text">
                <strong>Price:</strong> {{ product.price }}₫
              </p>
              <p class="card-text">
                <strong>Quantity:</strong> {{ product.quantity }}
              </p>
              <p class="card-text">
                <strong>Category:</strong> {{ product.category }}
              </p>
              <p class="card-text">
                <strong>Origin:</strong> {{ product.origin }}
              </p>
              <a href="{% url 'home' %}" class="btn btn-primary"
                >Trở về trang chủ</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock main_content %}
